
mixin createField(n)
  -var i = 0;
  table
    while i < n
      tr
        - var j = 0;
        while j < n
          if (i==j || ((i+j)%2==0 && j<i)) 
            td.gray-bg
          else
            td
          -j++
      -i++